Variables:
<ul>
  <li>
    Mortgage: {{this.mortgage}}
  </li>
  <li>
    Item: {{this.item}}
  </li>
  <li>
    Rate: {{this.rate}}
  </li>
  <li>
    Term: {{this.term}}
  </li>
  <li>
    Loan: {{this.loan}}
  </li>
</ul>
<hr />
Once upon a time there was a
<EditableLabel @text={{this.mortgage}} @onBlur={{fn (mut this.mortgage)}} />
calculator for
a
<EditableLabel @text={{this.item}} @onBlur={{fn (mut this.item)}} />
with a rate of
<EditableLabel @text={{this.rate}} @onBlur={{fn (mut this.rate)}} />
% and a term of
<EditableLabel @text={{this.term}} @onBlur={{fn (mut this.term)}} />
years and
loan amount of
$
<EditableLabel @text={{this.loan}} @onBlur={{fn (mut this.loan)}} />
and total interest of {{this.calculatedInterest}}.